<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Local IMDB application</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="http://localhost:8080/v1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://localhost:8080/v1/css/mdb.min.css" rel="stylesheet">
    <link href="http://localhost:8080/v1/css/style.css" rel="stylesheet">
</head>
<body>
<section class="content-header" th:replace="navbar.html"></section>
