<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<section class="content-header" th:replace="header.html"></section>
<article class="article">
    <div class="card">
        <!-- Card content -->
        <div class="card-body">
            <div class="container-fluid">
                <h4 class="card-title">
                    <h2 class="article__title">Local IMDB application</h2>
                    <h4 class="card-title">
                        <div class="article__content">
                            <p class="text-justify">
                            <h4>

                            </h4>
                            </p>
                        </div>
                    </h4>
                </h4>
            </div>
        </div>
    </div>
</article>
<section class="content-header" th:replace="footer.html"></section>