<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<section class="content-header" th:replace="header.html"></section>
<article class="article">
    <div class="card">
        <!-- Card content -->
        <div class="card-body">
            <div class="container-fluid">
                <h4 class="card-title">
                    <h2 class="article__title">Local IMDB application</h2>
                    <h4 class="card-title">
                        <div class="article__content">
                            <p class="text-justify">
                            <h4>Movie</h4>
                            <div class="card border-primary mb-3" style="max-width: 20rem;">
                                <div class="card-header" th:text="${movie.title}"></div>
                                <div class="card-body text-primary">
                                    <h5 class="card-title" th:text="${movie.year}"></h5>
                                </div>
                            </div>
                            </p>
                        </div>
                    </h4>
                </h4>
            </div>
        </div>
    </div>
</article>
<section class=" content-header
                                    " th:replace="footer.html"></section>